# OS files
.DS_Store

# R / RStudio
.Rhistory
.RData
.Rproj.user/

# Do not track any data
data/

# Do not track generated outputs
outputs/

# Common generated analysis files
*.rds
*.csv
*.xlsx
*.xls
*.png
*.jpg
*.jpeg
*.pdf
*.htmlproject_structure.txt
