# OS files
.DS_Store

# R / RStudio
.Rhistory
.RData
.Rproj.user/

# renv local library (ignore local library only)
renv/library/
renv/staging/

# Do not track any data or outputs
data/
outputs/
outputs/combined/poster_figures/
poster.R
docs/session_info.txt


# Do not track generated / processed analysis files anywhere
*.rds
*.csv
*.xlsx
*.xls
*.png
*.jpg
*.jpeg
*.pdf
*.html
!index.html
*.qmd
*.docx

# Scratch / notes
methods.txt
notes.txt
project_structure.txt
/640_final_project_writeup_files/
/628_final_project_writeup_files/


