# OS files
.DS_Store

# R / RStudio
.Rhistory
.RData
.Rproj.user/

# renv local library (ignore local library only)
renv/library/

# Do not track any data or outputs
data/
outputs/
outputs/combined/poster_figures/
poster.R


# Do not track generated / processed analysis files anywhere
*.rds
*.csv
*.xlsx
*.xls
*.png
*.jpg
*.jpeg
*.pdf
*.html

# Scratch / notes
methods.txt
notes.txt
project_structure.txt


